@import "../../../../style/variable.scss";

.right_wrapper {
  display: flex;
  height: 100%;
  .sign_out_wrapper {
    justify-self: center;
  }
  .profile_wrapper {
    margin: 9.5px 5px;
    .profile_nav {
      width: 35px;
      height: 35px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
