.expand_wrapper {
  color: #33475b;
  display: flex;
  padding: 10px 5px;
  font-size: 14px;
  font-weight: 600;
  .label {
    display: flex;
    cursor: pointer;
    &:hover {
      color: #0091ae;
    }
    .chevron {
      margin-right: 15px;
      color: #00a4bd;
    }
  }
}
