.logEmailCard{
    align-self: center;
    height:200px;
    width:300px;
    background-color: yellow;
    border:solid 1px;
    margin:5%;
}

.emailCard{
    align-self: center;
    height:200px;
    width:300px;
    background-color: red;
    border:solid 1px;
    margin:5%;
}