.note__header-container {
	padding: 15px;
	display: flex;
  justify-content: space-between;
}

.note__header-left {
	color: #33475B;
	font-size: 18px;
}

.note-header-title {
	font-size: 14px;
	font-weight: bold;
	margin-left: 20px;
}

.note__header-right {
	color: #516f90;
	font-size: 12px;
}