.activity{
    display:flex;

    &__item {
        display: flex;
        flex-direction: column;
      
    }

    &__name {
        font-size: 10px;
        margin: 10px;
    }
    &__icon{
        width:20px;
        height:20px;
       
        
    }
    
    &__button{
        border : none;
        border-radius : 50%;
        cursor: pointer;
    }
}



