.selectItem{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 248, 246);
    min-height: 40px;

    &__left{
        margin: auto 1%;
      

        &__checkbox{
            color: #0091ae;
        }

        &__square{
            background-color: white;
            height: 12px;
            width: 12px;
            border: solid 1px rgb(203, 214, 226);
        }
    }

    &__right{
        margin: auto 1%;
    }
}







