@import '../../../../../../../../style/variable.scss';

.taskHeader {
  display: flex;
  padding:5px 10px;
  

  &__left {
    display: flex;
    flex: 1;
    height: 42px;
    margin-left: 3%;

    &__form {
      align-self: center;

      &__input {
        font-size: 16px;
        color: $primary-color;
        outline: none;
        border: none;
      }
    }
  }

  &__right {
    display: flex;
    flex: 3;
    justify-content: flex-end;
   
    &__dropDown{
      display: flex;
      height: 10px;
      flex-direction: column;
    }

    &__time{
      display: flex;
      height:10px;
      margin: {
        top:23px;
        left:10px;
      }
    }
  }
}





