.test_container {
    width: 1024px;
    margin: 0 auto;
}

.test_layout {
    display: flex;
    flex-direction: column;
}

.up_background {
        height:600px;
        border: 2px solid black;
    }
