@import '../../../../../../../../../../style/variable.scss';
.inputTaskType{
  display: flex;
  flex-direction: column;

  &__content{
    display: inline-block;
      
    &__block{
      display: flex;

      &+&{
        margin-top:5%;
      }

      &__item{
        &+&{
          margin-left:5%;
        }

        display: block;
      }
    }
      
  
  }
  
  
}