.createdby-container {
	display: flex;
	padding: 0px 0px 0px 55px;
}

.createdby-user-icon {
	font-size: 24px;
	color: lightgrey;
	margin-right: 5px;
}

.createdby-info {
	display: inline-flex;
	align-items: center;
	color: #33475B;
	font-size: 14px;
}