.comment-form-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  padding: 10px;
  margin: 0px 10px;
  
}

.comment-form-input {
  background: #FEF8F0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.17);
  border: transparent;
  outline: transparent;
  resize: none;
  width: 500px;
  height: 100px;
}

.comment-form-controls {
  padding: 10px;
}