.taskHeader {
  display: flex;
  

  &__left {
    display: flex;
    flex: 1;
    margin: auto 5%;
    height: 42px;

    &__form {
      align-self: center;

      &__input {
        font-size: 16px;
        outline: none;
        border: none;
      }
    }
  }

  &__right {
    display: flex;
    flex: 3;
    justify-content: flex-end;
    margin-top:1%;

    &__dropDown{
      display: flex;
      flex-direction: column;
    }

    &__time{
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin-top:0.1rem;
      
    }
  }
}





