@import "../../style/variable.scss";

.about_us_layout {
  background-color: white;
  .our_purpose_wrapper {
    .our_purpose {
      position: relative;
      margin: 0px 0px 5px 0px;
      display: flex;
      padding: 0px;
      background-color: $primary-color-light;
      .purpose_text {
        width: 50%;
        text-align: center;
        font-size: 35px;
        font-weight: bolder;
        align-self: center;
        color: $primary-color;
        @include MQ(XL) {
          font-size: 30px;
        }
        @include MQ(L) {
          font-size: 22px;
        }
        @include MQ(M) {
          font-size: 15px;
        }
        @include MQ(S) {
          width: 100%;
          height: 100px;
          font-size: 10px;
        }
      }
      .purpose_img {
        width: 50%;
        img {
          width: 100%;
          height: 100%;
        }
        @include MQ(S) {
          width: 0%;
        }
      }
    }
    .svg_header_bottom {
      position: absolute;
      width: 100vw;
      top: 33%;
      // z-index: 1;
      @include MQ(maxL) {
        top: 25%;
      }
      @include MQ(XL) {
        top: 32%;
      }
      @include MQ(L) {
        top: 27%;
      }
      @include MQ(M) {
        top: 23%;
      }
      @include MQ(S) {
        top: 16%;
      }
    }
    .svg_header_left {
      position: absolute;
      // width: 100vw;
      top: 80px;
      left: 465px;
      @include MQ(XL) {
        left: 260px;
      }
      @include MQ(L) {
        left: 185px;
      }
      @include MQ(M) {
        left: 260px;
      }
      @include MQ(S) {
        left: 260px;
      }
      svg {
        width: 100%;
      }
    }
    .svg_header_deco {
      position: absolute;
      height: 200px;
      width: 200px;
      top: 300px;
      left: 625px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  .our_mission_wrapper {
    display: flex;
    .mission_text {
      width: 50%;
      margin: 0px;
      color: $primary-color;
      align-self: center;
      h2 {
        text-align: center;
        font-weight: bolder;
        margin: 20px;
      }
      p {
        font-size: 20px;
        padding: 10px 100px;
        margin: 5px 0px;
        line-height: 1.8;
      }
    }
    .mission_img_wrapper {
      width: 50%;
      border-radius: 400px/150px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}
