$primary-color: rgba(
    $color: #33475b,
    $alpha: 1,
);

.Catch_background {
    height: 400px;
    display: flex;
    position: relative;
}

.Catch_us {
    width: 100%;
    position: relative;
    opacity: 0.4;
}

.Catch_text {
    text-align: center;
    padding: 80px;
    color: $primary-color;
    opacity: 2;
    position: absolute;

    h2 {
        text-align: center;
        font-size: 40px;
    }

    p {
        text-align: center;
        font-size: 30px;
        font-style: italic;
    }
}