.comment-container {
	background-color: #FEF8F0;
	margin: 15px 0px;
	padding: 10px 20px;
	font-size: 14px;
	border: 1px solid rgba(0,0,0,0.17);
	color: #33475B;
}

.comment-container-header {
	display: flex;
  justify-content: space-between;
}

.comment-container-header__left {
	font-size: 24px;
	color: lightgrey;
	display: inline-flex;
	align-items: center;
}

.comment-detail {
	color: #33475B;
	font-size: 14px;
	margin-left: 5px;
}