@import '../../../../../../../style/variable.scss';


.timeline-action-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 15px 20px;
}

.timeline-action-button {
  width: 80px;
  background-color: $primary-color;
}