@import '../../style/variable.scss';


.contactSelector{
    display: flex;
    flex-direction: column;
    position: relative;
    height:20px;
   

    &__label{

        &__btn{
            @extend .nakedBtn;
            cursor: pointer;
            color: $secondary-color;
            font-size: 15px;
            display: flex;
            min-width: 100px;
            background-color: red;

            &__icon{
                margin-left:4%;
                color:rgba($color: $primary-color, $alpha: 0.7);

            }
            

            &:hover{
                border-bottom: solid 1px;
            }

        }
    }
}