.deleteModal{
    position: fixed;
    top: 10%;
    height:50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: repeating-linear-gradient(135deg, #f04b51, #f04b51 24px, #f2545b 0, #f2545b 48px);
    border-radius: 5px;
    
  
}