@import '../../../../../../style/variable.scss';

.taskPage{
    &__header{
        display:flex;
        height:60px;
        justify-content: flex-end;
        margin-top: 4%;
        margin-bottom: 4%;


        &__createTask{
            align-self: center;
            margin:auto 5%;
        }

    }
  }


