@import '../../../../../../style/variable.scss';

.taskPage{
    &__header{
        display:flex;
        margin-top: 4%;
        margin-bottom: 4%;
        justify-content: flex-end;


        &__createTask{
            align-self: center;
            margin: auto 5%;
        }

    }
  }


