@import "../../style/variable.scss";

.nameTag{
    cursor: pointer;
    border: solid 1px rgba(0,0,0,0.5);
    display:flex;
    padding: 0 5px;
    background-color: rgb(245, 248, 250);
    align-items: center;
   
    &+&{
        margin-left: 10px;
    }
    &__left{
        display: flex;
       
        align-items: center;
        &__name{
            font-size: 12px;  
            font-weight: 600;
            white-space: nowrap;
            color: $primary-color;
       } 
    }

    &__right{
        &__closeButton{
            @extend .nakedBtn;
            display: flex;
            align-items: center;
            padding: 1px 10px 1px 5px;
            cursor: pointer;
            color:$primary-color;
            height:8px;
            width:8px;
       }
    }  
}