@import '../../../../../../style/variable.scss';


.timeline-container {
  margin: auto;
  padding: 20px;
  background-color: #F5F8FA;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.timeline-action-container {
  display: flex;
  flex-direction: row-reverse;
}

.timeline-action-button {
  width: 80px;
  background-color: $primary-color;
}

// .timeline-all-notes {
//   margin-top: 50px;
// }