.labelwithinfo {
  display: flex;
  .label {
    font-size: 15px;
    margin: 10px 0px;
  }

  .info {
    position: relative;
    top: 10px;
    left: 2px;
  }
}

.input {
  font-size: 15px;
  margin: 10px 0px;
  text-decoration-line: underline;
}
