h1 {
    color: #0091AE;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    font-family: Avenir Next W02,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: normal;
    text-transform: none;
    margin:20px;
}