.note-save-bar {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  

  &__save {
    flex:1;
    align-self: center;
  }

  &__task-follow {
    margin-left: 3%;
    flex:7;
    align-self: center;
  }
}

