@import "../../../../../style/variable.scss";

.tabBar__item {
    position: relative;
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 16px;
    text-decoration: none;
    color: $primary-color;
    font-size: 15px;
    opacity: 1;
    display: block;
    flex:1;

    &:hover{
        opacity: 0.6;
    }
  
    &--active{
        font-weight: bold;

        &:hover{
            opacity: 1;
        }

        &::after {
            content: "";  
            position: absolute;
            left: 10px;
            top: 47px;
            width: 80px;
            border-bottom: 5px solid;
            margin: auto;
            display: block;
            border-radius: 10px;
          }
    }  
}