.contact_information {
    display: flex;
    width: 320px;
    flex-direction: column;
}

.back-to-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    border: 2px solid rgb(128, 128, 128);
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 5px;
}

.contact_text {
    margin: 5px;
    text-align: center;
    line-height: 20px;
}

.icon_contact {
    margin: 5px;
    width: 20px;
}


  



.profile_icon {
    margin: 10px 45px;
    width: 60px;
    right: 20px;
}

.contact_name {
    margin: 10px;
}

.contact_position {
    margin: 10px;
}



.icon_note , .icon_mail, .icon_call, .icon_log, .icon_task, .icon_meeting{
    width: 15px;
    
}

.about_contact {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.key_name {
    font-size: 15px;
    margin: 15px 0px;
}


.value_name {
    font-size: 10px;
    margin: 15px 0px;
    text-decoration-line: underline;;
}

.view-all-properties {
    margin: 10px 35px;
    width: 200px;
    border-radius: 5px;
}

.view-property-history {
    margin: 10px 35px;
    width: 200px;
    border-radius: 5px;
}

.website_activity {
    margin: 10px;
}

