@import '../../../../../../../../style/variable.scss';

.relatedCompany {
  position: relative;
  border: solid 1px rgba(51, 71, 91, 0.4);
  margin: 10px 0px;
  border-radius: 3px;
  color: #0091ae;
  padding: 10px 20px;
  font-weight: bolder;
  font-size: 12px;

  &:hover {
    .relatedCompany__removeBtn{
        display:block;
    }
  }

  &__website {
    display: flex;
    cursor: pointer;

    &__link {
      color: #33475b;
      font-weight: lighter;
      margin: 10px 5px 10px 0px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__linkIcon {
      color: #a1a9b1;
      position: relative;
      top: 10px;
    }
  }

  &__phone {
    display: flex;

    &__icon {
      color: #a1a9b1;
      margin-right: 8px;
    }
  }

  &__removeBtn{
    display: none;
    position: absolute;
    right: 6px;
    top: 8px;
  }
}