@import '../../../../style/variable.scss';

.headerNavLinkWrapper {
    white-space: nowrap;
    text-align: center;


    &+&{
        margin: 3% 5%;
    }

    &__link {
        text-decoration: none;
        color: white;

      

        &:hover {
            border: none;
            color: #008fb4;
        }
    }
}