@import "../../../../style/variable.scss";

.headerNavLinkWrapper {
    text-align: center;
    vertical-align: middle;
    margin: 17px 8px;

    &__link {
        text-decoration: none;
        color: white;

        &:hover {
            border: none;
            color: $secondary-color;
        }
    }
}
