@import "../../style/variable.scss";

.StyledHeader {
  border-bottom: 2px solid #dadada;
  background-color: #33475b;
}

.Layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Avenir Next W02, Avenir Next, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  align-self: center;
  color:#ffffff;
}

.Container {
  padding: 8px 0px;
}