@import "../../style/variable.scss";

.styled_header {
  border-bottom: 2px solid $border-color;
  background-image: linear-gradient(90deg, $primary-color, #445f7a);
  box-sizing: border-box;
  &__container {
    width: 100%;
    height: 54px;
    font-family: Arial, Helvetica, sans-serif;
    .layout {
      justify-content: space-between;
      height: 100%;
      display: flex;
      .left {
        height: 100%;
      }
      .right {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }
}
