.StyledHeader {
  border-bottom: 2px solid #dadada;
  background-color: #33475b;
}

.Layout {
  display: flex;
  justify-content: space-between;
  font-family: Avenir Next W02, Avenir Next, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 2.5rem;
  color:#ffffff;
}
