.navbar {
    display: flex;
    width: 100%;
    background: #ece8e8;
    justify-content: space-between;
}

.navbar-buttons {
    display: flex;
    margin: 5px;
    list-style-type: none;
}

.navbar-contacts, .navbar-companies, .navbar-logout {
    margin: 5px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}

.logo {
    width: 100px;
}

.menu {
    border: none;
    position: relative;
    cursor: pointer;
    background:#ece8e8;
}

.home-page {
    border: none;
    cursor: pointer;
    width: 25px;
}