/************************Import Google Fonts***************************************/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/**********************************************************************************/
@import '../../../../../../style/variable.scss';

//Global Variable
$regFont: 'Varela Round', sans-serif;

body {
    margin: 0;
    padding: 0;
    font-family: $regFont;
  }

.import__btn {
    @extend .nakedBtn;
    color: #ff7a53;
    border: 1px solid #ff7a59;
    position: absolute; 
    top: 60px;
    right: 25px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    opacity: 1;
    background: white;
    font-size: 100%;
    font-weight: bold;
}

.btn:active {
    opacity: .6;
    transition: opacity .3s;
}