@import '../../../../../../style/variable.scss';

.taskModal{
  display:flex;
  flex-direction: column;
  flex:1;
  padding: 1px;
  height:100%;
}

.taskLabel{
  color: $label-color;
  align-self: flex-start;
  font-size:small;
  margin-bottom: 8px;
}