@import '../../../../style/variable.scss';

.expandBar {
    display: flex;
    padding-top: 5%;
    position: relative;
    border-bottom:1px solid rgb(203, 214, 226);

    &__container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        &__content {
            width: 90%;
            margin-bottom: 5%;
            display: flex;
            justify-content: flex-start;
            align-self: center;
            max-height: 0px;
            overflow: auto;
            font-size: 14px;
            transition: max-height .3s ease-out;


            &__active {
                max-height: 100%;
                transition: max-height .3s ease-in;
                transform-origin: 100% 0;
            }
        }

        &__labelBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            cursor: pointer;

            margin: {
                left: 5%;
            }

            &__icon {
                width: 25px;
            }

            &__text {
                flex-grow: 1;
                font-size: 14px;
                font-weight: 600;

                span {
                    color: $primary-color;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }


    &__content {
        display: flex;
        justify-content: center;
        align-self: center;
        background-color: red;
        width: 90%;
        max-height: 0px;
        overflow: auto;
        font-size: 14px;
        transition: max-height .7s ease-out;


        &__active {
            max-height: 100px;
            transition: max-height .7s ease-in;
            transform-origin: 100% 0;
        }
    }
}

.angleIcon {
    color: rgb(0, 164, 189);
    margin-right: 5%;
    height: 15px;
    width: 10px;
    transition: all 150ms ease-in-out 0s;

    &__rotate {
        transition: all 150ms ease-in-out 0s;
        transform: rotate(90deg);
    }
}


