@import '../../../../style/variable.scss';

.Header{
    display: flex;
    background-color: rgba($color: $primary-color, $alpha: 0.7);
    background-image: linear-gradient(-303deg,$primary-color,#184242 56%,#073347);
    width: 100%; 
    cursor: grab;
    height: 54px;
      
    &__Left{
             align-self: center;
             flex: 4;
             height:100%;
                  
           
             &__Name{
                      font-size: medium;
                      font-weight: 700;
                      color:white;          
                    }       
            } 

     &__Right{
        height: 100%;
        flex: 1;
        align-self: center;
        justify-content: flex-end;   
     }         
}

.FunctionButton{
    border:0;
    outline: 0;
    background-color: transparent;

    &:hover{
        background-color: darken($secondary-color,8%);      
        cursor: pointer;
    }
}

.ArrowIcon{
    height: 18px;
    width:  18px;
}

.CloseIcon{
    height: 18px;
    width:  18px;
}