@import '../../../../style/variable.scss';

.Header{
    display: flex;
    background-color: $Secondary-color;
    background-image: linear-gradient(-303deg,#00a4bd,#00afb2 56%,#00bda5);
    width: 100%; 
    cursor: grab;
    height:7%;
    margin-top: 2%;
      
    &__Left{
             flex:4;
             display: flex;
            
             &__Icon{
                      padding-left: 0.3rem;                         
             }
             &__Name{
                      text-align: left;
                      font-size: medium;
                      font-weight: 700;
                      color:white;
                      padding-left: 0.3rem;                 
                    }       
            } 

     &__Right{
        flex:1;
        display: flex;
        justify-content: flex-end;

        &__Icon{   
            padding-right: 0.3rem;     
        }
     }         
}

.FunctionButton{
    border:0;
    outline: 0;
    background-color: transparent;
    border-radius: 50%;  
    &:hover{
        background-color: darken($Secondary-color,8%);
        cursor: pointer;
    }
}

.ArrowIcon{
    height: 18px;
    width:  18px;
}

.CloseIcon{
    height: 18px;
    width:  18px;
}