@import '../../../../../../../../style/variable.scss';
.createTaskCard{
  display: flex;
  flex-direction: column;

  &__name{
    margin-top: 5%;
  }

  &__details{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
   
    &__top{
      display: flex;
      justify-content: flex-start;
      cursor: pointer;

      &__arrow{
        font-size:16px;
      }
  
      &__label{
        color: $primary-color;
        font-size: 14px;

        &:hover{
          color:$secondary-color;
        }
      }
    }

    &__bottom{
      margin-left:5%;
    }
  }
}