@import '../../../../../../../../style/variable.scss';
.createTaskCard{
  display: flex;
  flex-direction: column;

  &__name{
    margin-top: 5%;
  }
  
  &__footer{
    display: flex;
   margin-top: 4%; 
  }
  
  
  
}