@import '../../../../../../../../style/variable.scss';
.createTaskCard{
  display: flex;
  flex-direction: column;

  .inputTaskType{
    margin: {
      top: 4%;
      bottom: 4%;
  }
  }
  &__footer{
    display: flex;
   margin-top: 4%;
        
    
  }
  
  
  
}