.sideBar {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-right: solid 1px #cbd6e2;
    width: 20vw;
    background-color: white;
    border-left: solid 1px rgb(203, 214, 226);
  }