@import '../../../../../../style/variable.scss';

.aboutContact {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.underline {
    &__normal {
        bottom: -20px;
        width: 100%;
        border-bottom: 1px solid rgb(203, 214, 226);
    }
}