@import "../../../../../../style/variable.scss";
.cardWrapper{
  width: 400px;
  height: 300px;
  text-align: center;
  line-height: 1.8;
  border: 1px solid $border-color;
  margin: 0px 5px;
  background-color: white;
  padding: 50px 5px 0px 5px;
  color: $primary-color;
  @include MQ(L) {
    width: 450px;
    height: 350px;
  }
  @include MQ(M) {
    width: 350px;
    height: 350px;
  }
  @include MQ(S) {
    width: 350px;
    height: 350px;
    margin: 0px 5px 20px 5px;
  }
  .icon{
    color: $primary-color;
    margin: 10px;
  }
  .type{
    margin: 30px;
  }
  .description{
    margin: 30px;
  }
  .detail{
    margin: 30px;
    &:hover{
      color: $secondary-color;
      font-weight: bolder;
    }
  }
}