.note-card-body {
  background-color: transparent;
  margin-top: 10px;
}

.note-card-body textarea {
  width: 100%;
  padding: 0px;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: inherit;
  resize: none;
  color: #33475B;
}
