@import '../../../../../style/variable.scss';
.selectItem{
    display: flex;
    justify-content: flex-start;
    flex:1;
    border: 0;
    border-radius: 0; 
    min-height: 40px; 
    text-align: left;
    width: 100%;
    line-height: 24px;
    cursor: pointer;
    &:hover{
        background-color: rgb(229, 248, 246);
    }

    &__btn{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        color: #33475b;
        font-size: 14px;
        font-weight: 400;
        @extend.nakedBtn;
        padding: {
            top:20px;
            left:10px;
            right:70px;
            bottom:20px;
        };
        
    }
}