.hint {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    position: relative;
    right: 10px;
    top: 50px;
}

.input {
  position: relative;
  left: 0px;
  top: 50px;
  border: 1px solid #dadada;
  color: #888;
  height: 30px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font-size: 12px;
  line-height: 15px;
  box-shadow: inset 0px 1px 4px #ececec;
  -moz-box-shadow: inset 0px 1px 4px #ececec;
  -webkit-box-shadow: inset 0px 1px 4px #ececec;
}
