.addModal{
    position: fixed;
    display: flex;
    flex-direction: column;
    right:0;
    top:0;
    bottom: 0;
    height:100vh;
    width: 0;
    background-color:white;
    z-index:2;
    transition: width .2s ease-in;
    box-shadow: -3px 0 8px 0 rgba(66,91,118,.21);


    .addModalHeader__inner__left__title{
        color:transparent
    }

    &--active{
        .addModalHeader__inner__left__title{
            color:white
        }
        width:45vw;
        transition: width .2s ease-out;
    }

    &__body{
        flex:1 1 100%;
        padding: {
            left:40px;
            right:40px;
            top:24px;
            bottom:1;
        }

    }
}