@import "../../../../../../../style/variable.scss";
.emailFunctionBar{
    display: flex;
    flex:1;
    justify-content: flex-start;
    
}


.functionBar_Item{
    margin:3% 2.5%;

    &:hover{
        cursor: pointer;
    }
}

.functionBar_Item_Text{
    font-size: small;
}