@import '../../../../../../../../style/variable.scss';

.relatedContacts {
  position: relative;

  &:hover{
    .relatedContacts__removeBtn{
      display:block;
    }
  }

  .relatedContactsWrapper {
    border: solid 1px rgba(51, 71, 91, 0.4);
    margin: 10px 0px;
    border-radius: 3px;
    color: $secondary-color;
    padding: 10px 10px;
    font-weight: bolder;
    font-size: 14px;

    &__header {
      display: flex;
      justify-content: flex-start;


      &__avatar {
        height: 25px;
        width: 25px;
      }

      &__basicInfo {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left: 5%;
        padding-top: 3%;

        &__name {}

        &__jobTitle {
          color: $label-color;
          font-weight: lighter;
          font-size: 12px;
          margin: 5px 0;
        }
      }
    }

    &__activityContainer {
      display: flex;
      padding: 0 15px;
      align-items: center;
      margin-top: 2%;

      &__activity {
        cursor: pointer;
        margin-left: 6%;

        &:hover {
          color: #33475b;
        }
      }

      &__icon {
        color: $label-color;
      }
    }
  }

  &__removeBtn {
    display: none;
    position: absolute;
    right: 10px;
    top: 20px;
  }
}