@import '../../../style/variable.scss';

.editableText {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  padding: 0px 10px;

  &:hover {
    position: relative;
    background-color: rgb(229, 245, 248);
    border: 1px solid rgb(127, 209, 222);
    border-radius: 3px;
    cursor: text;

    .editableText__icon {
      visibility: visible;
      opacity: 1;
    }
  }

  &__content {
    color: #33475b;
    font-size: 14px;
    flex-grow: 1;


    &--input {
      font-weight: 600;
      
      &--lineThrough{
        text-decoration: line-through;
      }
    }

    &--editor {
      line-height: 1.6;
      overflow: hidden;
      max-height: 200px;
    }
  }

  &__icon {
    display: flex;
    align-self: flex-end;
    font-size: 14px;
    color: #00A4BD;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    padding: 10px 0;
  }
}



.editingmode {
  &__editor {
    border: 3px solid;
    border-color: rgba(0, 208, 228, .5);
    box-shadow: 0 1px 3px rgba(0, 164, 189, .3);
    border-radius: 3px;
    cursor: default;
  }

  &__inputWrapper {
    width: 100%;

    &__input {
      border: solid 1px $border-color;
      border-radius: 5px;
      width: 90%;
      outline: none;
      font-size: 16px;
      color: $primary-color;
      background-color: #f5f8fa;
      padding: 10px 0 10px 10px;

      &:focus {
        border: solid 2px rgba(0, 208, 228, .5);
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px;

    &__save {
      flex: 1;
      align-self: center;
    }

    &__cancel {
      margin-left: 2%;
      align-self: center;
      flex: 8;
    }
  }
}

.createButton-small {
  min-width: 60px;
  min-height: 30px;
}

.logButton-small {
  min-width: 60px;
  min-height: 30px;
}