.activityCard__container{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom:4%;
    width:100%;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.17);
    border-radius: 2px;
}