@import '../../style/variable.scss';

.navigationButtonWrapper {


    &__btn {
        @extend .nakedBtn;
        padding: 1px 0px;
        font-size: 14px;

        &__active {
            color: $secondary-color;
        }
    }
}