@import '../../../../../../style/variable.scss';

.selectItem{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 248, 246);
    min-height: 40px;

    &__left{
        margin: auto 1%;
        &__checkbox{
            &__btn{
                color: #0091ae;
                @extend.nakedBtn;
                height: 15px;
                width: 15px;

                &__disabled{
                    @extend .disabled;
                    color: #b0c1d4;
                    background-color: transparent;
                }
            }
        }

        &__square{
            background-color: white;
            height: 12px;
            width: 12px;
            border: solid 1px rgb(203, 214, 226);
        }
    }

    &__right{
        margin: auto 1%;
    }
}







