@import '../../../../../../style/variable.scss';


.dealsDetail{
    border: 1px solid $border-color;

    &+&{
        margin-top: 15px;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
    }

}