@import '../../../../../../style/variable.scss';


.dealsDetail {
    border: 1px solid $border-color;
    width: 100%;

    &+& {
        margin-top: 15px;
    }



    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        position: relative;
        &:hover{
            .dealsCard__removeBtn{
              display:block;
            }
          }

        .dealsCard {

            &__name{
                color: $secondary-color;
                &:hover{
                  cursor: pointer;
                  text-decoration: underline;
                }
            }

            &__stage {
                display: flex;
                color: $primary-color;
                padding: 5px 0px;
            }

            &__closeDate{
                color: $primary-color;
            }

            &__label{
                margin-right: 5px;
            }

            &__removeBtn{
                display: none;
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }
    }

}