@import "../../../../../../../../style/variable.scss";



.title{
    height:100%;
    justify-content: flex-start;
    flex:1;
   

    &__name{
        color: $primary-color;
        font-size: small;
        font-weight: 600;
    }

  
}

